.DS_Store
Thumbs.db
/.idea
/.vscode
/.fleet
/.zed
/.nova
.env
.env.backup
.env.production
auth.json
Homestead.json
Homestead.yaml
docker-compose.override.yml
*.log
npm-debug.log
yarn-error.log
.phpactor.json
.phpunit.result.cache
/.phpunit.cache
/node_modules
/vendor
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/docker/mysql/data/
